* {
    background-color: papayawhip;
    color: black;
}

.headingnav {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    width: 50px;
    padding: 10px 50px;
    margin: 20px 50px;
}